:root {
  --button-green: #bbf330;
  --dark-green: #7eb101;
  --yellow-main: #ffe550;
  --black: #2c2c2c;
  --white: #fefefe;
  --2: #a7ce47;
  --tekst: #3d3d3d;
  --tekst2: #969696;
  --tekst3: #4a4a4a;
}
body {
  font-family: "Roboto", sans-serif;
  background: #fefefe;
  line-height: 1.5;
  color: #2c2c2c;
}
h1,
h2,
h3,
p {
  font-weight: 400;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* header */
.header-container {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  padding: 0 16px;
  align-items: center;
}
.nav {
  display: flex;
  gap: 30px;
}
.nav-list-item {
  padding-top: 28px;
  padding-bottom: 28px;
}
.nav-list {
  display: flex;
  gap: 28px;
}
.header-btn {
  background: #bbf330;
  font-weight: 500;
  font-size: 13px;
}
/* section1 */
.favorite {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  padding: 0 16px;
}
.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  width: 503px;
  margin-top: 159px;
  margin-bottom: 28px;
}
.title-text {
  width: 511px;
  margin-bottom: 40px;
}
.favorite-img {
}

/* section2 */
.offerings {
  background: #ffe550;
}
.offerings-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
}
.offerings-list-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
}
.offerings-btn {
  background: #fff;
  font-weight: 500;
  font-size: 13px;
}
/* section3 */
.favorites-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
}
.favorites-title-text {
  font-size: 16px;
}
/* section4 */
.customers-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
}
.customers-title-text {
  font-size: 16px;
}
.customers-list-item-title {
  font-weight: 700;
  font-size: 18px;
}
.customers-list-item-text-medium {
  font-weight: 500;
}
.customers {
  background: #ffe550;
}
/* section5 */
.subscribe-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
}
.subscribe-title-text {
  font-size: 16px;
}
.subscribe-btn {
  background: #bbf330;
  font-weight: 500;
  font-size: 13px;
}
/* footer */
.footer-subscribe-title {
  font-weight: 500;
}
.footer-subscribe-text {
  font-size: 12px;
}
.footer-policy-list-item {
  font-size: 12px;
  color: #7eb101;
}
.footer-subscribe-text-contacts {
  font-size: 12px;
}
.footer-subscribe-btn {
  background: #fff;
  font-weight: 500;
  font-size: 13px;
}
